$defaultColor: (
	lineColor1: #e8e8e8,
	lineColor2: #f85959,
	lineColor3: #2a90d7,
	lineColor7: #d8d8d8,
	lineColor4: rgba(248, 88, 88, .5),
	lineColor10: #ddd,
	bgColor2: #e8e8e8,
	bgColor3: #f4f5f6,
	bgColor4: #fff,
	bgColor5: rgba(0, 0, 0, .6),
	bgColor7: #f85959,
	bgColor8: #2a90d7,
	bgColor100: #fafafa,
	textColor1: #222,
	textColor2: #505050,
	textColor3: #999,
	textColor4: #f85959,
	textColor5: #406599,
	textColor6: #2a90d7,
	textColor7: #fff,
	textColor8: #fff,
	textColor9: #cacaca,
	textColor10: #fff,
	textColor12: #fff,
	textColor113: #999,
	s1: #fff,
	s2: #ff4356,
	s3: #a6a6a6,
	s4: #ededed,
	s5: #f9f9f9,
	s6: #222,
	s7: #c2c2c2
);
$nightColor: (
	lineColor1: #464646,
	lineColor2: #935656,
	lineColor3: #67778b,
	lineColor7: #464646,
	lineColor10: #464646,
	lineColor4: rgba(147, 86, 86, .5),
	bgColor2: #1b1b1b,
	bgColor3: #1b1b1b,
	bgColor4: #252525,
	bgColor5: rgba(0, 0, 0, .6),
	bgColor7: #935656,
	bgColor8: #67778b,
	bgColor100: #252525,
	textColor1: #707070,
	textColor2: #707070,
	textColor3: #707070,
	textColor4: #935656,
	textColor5: #67778b,
	textColor6: #67778b,
	textColor7: #252525,
	textColor8: #fff,
	textColor9: #707070,
	textColor10: #707070,
	textColor12: #cacaca,
	textColor113: rgba(112, 112, 112, .5),
	s1: #202124,
	s2: #8f323c,
	s3: #626364,
	s4: #28292c,
	s5: #1d1e20,
	s6: #8f9091,
	s7: #707172
);

$activeDefaultColor: (
	lineColor1: rgba(232, 232, 232, .5),
	lineColor2: rgba(147, 86, 86, .5),
	lineColor4: rgba(248, 88, 88, .5),
	lineColor10: rgba(221, 221, 221, .5),
	bgColor2: #ddd,
	bgColor3: #e8e8e8,
	bgColor4: #e0e0e0,
	bgColor5: rgba(0, 0, 0, .5),
	bgColor100: #fafafa,
	textColor1: rgba(34, 34, 34, .5),
	textColor2: rgba(80, 80, 80, .5),
	textColor3: rgba(153, 153, 153, .5),
	textColor4: rgba(147, 86, 86, .5),
	textColor5: rgba(63, 103, 153, .5),
	textColor6: rgba(35, 146, 215, .5),
	textColor8: rgba(255, 255, 255, .5),
	textColor9: #e8e8e8,
	textColor11: rgba(255, 255, 255, .5),
	textColor12: rgba(255, 255, 255, .5),
	textColor113: #999,
	s1: #e5e5e5,
	s2: #e53c4d,
	s3: #959595,
	s4: #d4d4d4,
	s5: #dfdfdf,
	s6: #1e1e1e,
	s7: #aeaeae
);

$activeNightColor: (
	lineColor1: rgba(70, 70, 70, .5),
	lineColor2: rgba(147, 86, 86, .5),
	lineColor4: rgba(147, 86, 86, .5),
	lineColor10: rgba(70, 70, 70, .5),
	bgColor2: #111,
	bgColor3: #111,
	bgColor4: #1b1b1b,
	bgColor5: rgba(0, 0, 0, .5),
	bgColor100: #252525,
	textColor1: rgba(112, 112, 112, .5),
	textColor2: rgba(112, 112, 112, .5),
	textColor3: rgba(112, 112, 112, .5),
	textColor4: rgba(147, 86, 86, .5),
	textColor5: rgba(103, 119, 139, .5),
	textColor6: rgba(103, 119, 139, .5),
	textColor8: rgba(255, 255, 255, .5),
	textColor9: rgba(112, 112, 112, .5),
	textColor11: rgba(255, 255, 255, .5),
	textColor12: #e8e8e8,
	textColor113: rgba(112, 112, 112, .5),
	s1: #191a1c,
	s2: #722830,
	s3: #4e4f50,
	s4: #202023,
	s5: #171819,
	s6: #727374,
	s7: #595a5b
);