$defaultColor: (
    lineColor1: #e8e8e8,
    lineColor2: #f85959,
    lineColor4: rgba(248, 88, 88, .5),
    lineColor10: #ddd,
    bgColor2: #e8e8e8,
    bgColor3: #f4f5f6,
    bgColor4: #fff,
    bgColor5: #000,
    bgColor100: #fafafa,
    textColor1: #222,
    textColor2: #505050,
    textColor3: #999,
    textColor4: #f85959,
    textColor5: #406599,
    textColor6: #2a90d7,
    textColor8: #fff,
    textColor9: #cacaca,
    textColor11: rgba(255, 255, 255, .5),
    textColor12: #fff,
    textColor113: #999
);
$nightColor: (
    lineColor1: #464646,
    lineColor2: #935656,
    lineColor4: rgba(147, 86, 86, .5),
    lineColor10: #464646,
    bgColor2: #1b1b1b,
    bgColor3: #1b1b1b,
    bgColor4: #252525,
    bgColor5: #000,
    bgColor100: #252525,
    textColor1: #707070,
    textColor2: #707070,
    textColor3: #707070,
    textColor4: #935656,
    textColor5: #67778b,
    textColor6: #67778b,
    textColor8: #fff,
    textColor9: #707070,
    textColor11: rgba(255, 255, 255, .5),
    textColor12: #cacaca,
    textColor113: rgba(112, 112, 112, .5)
);
$activeDefaultColor: (
    lineColor1: rgba(232, 232, 232, .5),
    lineColor2: rgba(147, 86, 86, .5),
    lineColor4: rgba(248, 88, 88, .5),
    lineColor10: rgba(221, 221, 221, .5),
    bgColor2: #ddd,
    bgColor3: #e8e8e8,
    bgColor4: #e0e0e0,
    bgColor5: rgba(0, 0, 0, .5),
    bgColor100: #fafafa,
    textColor1: rgba(34, 34, 34, .5),
    textColor2: rgba(80, 80, 80, .5),
    textColor3: rgba(153, 153, 153, .5),
    textColor4: rgba(147, 86, 86, .5),
    textColor5: rgba(63, 103, 153, .5),
    textColor6: rgba(35, 146, 215, .5),
    textColor8: rgba(255, 255, 255, .5),
    textColor9: #e8e8e8,
    textColor11: rgba(255, 255, 255, .5),
    textColor12: rgba(255, 255, 255, .5),
    textColor113: #999
);
$activeNightColor: (
    lineColor1: rgba(70, 70, 70, .5),
    lineColor2: rgba(147, 86, 86, .5),
    lineColor4: rgba(147, 86, 86, .5),
    lineColor10: rgba(70, 70, 70, .5),
    bgColor2: #111,
    bgColor3: #111,
    bgColor4: #1b1b1b,
    bgColor5: rgba(0, 0, 0, .5),
    bgColor100: #252525,
    textColor1: rgba(112, 112, 112, .5),
    textColor2: rgba(112, 112, 112, .5),
    textColor3: rgba(112, 112, 112, .5),
    textColor4: rgba(147, 86, 86, .5),
    textColor5: rgba(103, 119, 139, .5),
    textColor6: rgba(103, 119, 139, .5),
    textColor8: rgba(255, 255, 255, .5),
    textColor9: rgba(112, 112, 112, .5),
    textColor11: rgba(255, 255, 255, .5),
    textColor12: #e8e8e8,
    textColor113: rgba(112, 112, 112, .5)
);