html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, q, small, strong, dd, dl, dt, li, ol,  ul, fieldset, form, label, legend, table, caption, tbody, thead, tbody, tfooter, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
	margin: 0;
	padding: 0;
}
ol{
	list-style: inside decimal;
}
ul{
	list-style: inside disc;
}
html{
	-webkit-text-size-adjust: none;
	width: 100%;
}
body {
	font-family: "SFUIText","Helvetica", 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	-webkit-touch-callout: none;
	width:100%;
}